body {
    background-color: #d14836;
    padding: 4% 4% 4% 4%;
}

body.dark {
    background-color: black;
    padding: 4% 4% 4% 4%;
}

h1 {
    color: white;
    text-align: center;
}

#mainBody {
    padding: 4% 4% 4% 4%;
    background-color: white;
}

#mainBody.dark {
    padding: 4% 4% 4% 4%;
    background-color: grey;
}

label {
    background-color: white;
    font-family: verdana;
    font-size: 20px;
}

label.dark {
    background-color: grey;
}

p {
    background-color: white;
    font-family: verdana;
    font-size: 20px;
}

p.dark {
    background-color: grey;
    font-family: verdana;
    font-size: 20px;
}

footer {
    background-color: white;
    text-align: center;
}

footer.dark {
    background-color: grey;
    text-align: center;
}